<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= image_tag("logo.jpeg", class:"logo") %></a>
    </div>
    <div class="progress invisible" id="startprogress">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" id="completion" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%" complete="0">
        <span id="numOfStatement">% Complete (success)</span>
      </div>
    </div>
  </div>
</nav>

<div class="container">
    <div class="jumbotron" >
    <h2>Know who you are to enhance the best of you</h2>

    </div>
    <div class="row">
      <div class="col-md-12">
        <%= form_for :statements, url: score_path,  html: { class: "form-group"} do |f| %>

            <table class="table table-hover">
            <th>Statements</th>
            <th colspan="6">Scale</th>

            <% @n = 0 %>
            <% @statements.each do |s| %>
                <tr>
                  <td><%= s.content %></td>
                  <td>
                    <label class="radio radio-blue">
                      <input type="radio" name="statements[<%= @n %>]" data-toggle="radio" id="inlineRadio1" value="<%= s.direction ? 1 : -1 %>" onchange='input_onchange("<%= @n %>")' > Behavior Statements
                    </label>
                  </td>
                  <td>
                    <label class="radio radio-azure">
                      <input type="radio" name="statements[<%= @n %>]" data-toggle="radio" id="inlineRadio2" value="<%= s.direction ? 2 : -2 %>" onchange='input_onchange("<%= @n %>")'> Very Inaccurate
                    </label>

                  </td>
                  <td>
                    <label class="radio radio-green">
                      <input type="radio" name="statements[<%= @n %>]" data-toggle="radio" id="inlineRadio3" value="<%= s.direction ? 3 : -3 %>" onchange='input_onchange("<%= @n %>")'> Neither Accurate Nor Inaccurate
                    </label>
                  </td>
                  <td>
                    <label class="radio radio-orange">
                      <input type="radio" name="statements[<%= @n %>]" data-toggle="radio" id="inlineRadio3" value="<%= s.direction ? 4 : -4 %>" onchange='input_onchange("<%= @n %>")'> Moderately Accurate
                    </label>
                  </td>
                  <td>
                    <label class="radio radio-red">
                      <input type="radio" name="statements[<%= @n %>]" data-toggle="radio" id="inlineRadio3" value="<%= s.direction ? 5 : -5 %>" onchange='input_onchange("<%= @n %>")'> Very Accurate
                    </label>
                  </td>
                  <td>
                    <span class="glyphicon glyphicon-ok invisible" id="checked<%= @n %>" done="no"></span>
                  </td>
                </tr>
                <% @n = @n + 1 %>
            <% end %>
            </table>
           </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <%= f.submit "Send", :class => "btn btn-lg btn-block btn-primary" %>
          </div>
        </div>
        <% end %>
    </div>
</div>
<br />
<footer class="panel-footer">
  <div class="container">
    <p class="text-muted">Luong Thanh Thao - Tran Minh Tuan, Copyright 2015</p>
  </div>
</footer>
<script src="assets/js/ct-paper-radio.js"></script>

<script>

  function input_onchange(n) {
      var element = "checked"+n;
      //('#checked').css.removeClass('invisible');

      document.getElementById('startprogress').classList.remove('invisible');
      document.getElementById(element).classList.remove('invisible');

      if(document.getElementById(element).getAttribute('done') == 'no') {

          document.getElementById(element).setAttribute('done', 'yes');
          var complete = parseInt(document.getElementById('completion').getAttribute('complete'));
          complete++;
          document.getElementById('numOfStatement').innerHTML = complete.toString() + "/ 50";
          $('.progress-bar').css('width', complete*2+"%");
          document.getElementById('completion').setAttribute('complete', complete.toString());
      }

  }


</script>
