<div class="container-fluid">
    <div class="col-md-9 col-md-offset-1">
    <h1>Know who you are to enhance the best of you</h1>

    <%= form_for :behavior_statements, url: score_path,  html: { class: "form-group"} do |f| %>
        <div class="table">
            <table class="table table-hover">
            <th>Behavior Statements</th>
            <th>Emotional Scale</th>

            <% @n = 0 %>
            <% @statements.each do |s| %>
                <tr>
                  <td><%= s.content %></td>
                  <td>
                    <label class="radio-inline">
                      <input type="radio" name="behavior_statements[<%= @n %>]" id="inlineRadio1" value="1"> Very Inaccurate
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="behavior_statements[<%= @n %>]" id="inlineRadio2" value="2"> Moderately Inaccurate
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="behavior_statements[<%= @n %>]" id="inlineRadio3" value="3"> Neither Accurate Nor Inaccurate
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="behavior_statements[<%= @n %>]" id="inlineRadio3" value="4"> Moderately Accurate
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="behavior_statements[<%= @n %>]" id="inlineRadio3" value="5"> Very Accurate
                    </label>
                  </td>
                </tr>
                <% @n = @n + 1 %>
            <% end %>
            </table>
        </div>

        <%= f.submit "Send", :class => "btn btn-lg btn-block btn-primary" %>
    <% end %>
    </div>
</div>

