<div class="container">
    <h1>All statements</h1>
    <div class="table">
        <table class="table table-hover">
            <% @n = 0 %>
            <% @statements.each do |s| %>
              <% @n = @n + 1 %>
              <tr>
                  <td><%= @n %></td>
                  <td><%= link_to s.content, s %></td>
                  <td>
                      <%= link_to 'Edit', edit_statement_path(s), :class => "btn btn-success" %>
                      <%= link_to 'Delete', statement_path(s), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
                  </td>
              </tr>
            <% end %>
        </table>
    </div>
    <%= link_to "Add new statement", new_statement_path, :class => "btn btn-primary" %>
</div>