<div class="container">
    <h1>Add new statements</h1>
    <%= form_for :statement, url: statements_path, html: { :class => "form-group" } do |f| %>
        <div class="form-group">
            <%= f.label :content %>
            <%= f.text_field :content, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :direction %>
          <%= f.select :direction, options_for_select(["true", "false"] || "true"), {} , :class => "form-control" %>
        </div>

      <div class="form-group">
        <%= f.label :factor %>
        <%= f.select :factor_id, options_for_select(Factor.all.map{|s| [s.name, s.id]}), {} , :class => "form-control" %>
      </div>
        <%= f.submit "Save", :class => "btn btn-primary btn-lg" %>

    <% end %>
</div>