<div class="container">
  <h1>All factors</h1>
  <div class="table">
    <table class="table table-hover">
      <% @n = 0 %>
      <% @factors.each do |f| %>
          <% @n = @n + 1 %>
          <tr>
            <td><%= @n %></td>
            <td><%= link_to f.name, f %></td>
            <td>
              <%= link_to 'Edit', edit_factor_path(f), :class => "btn btn-success" %>
              <%= link_to 'Delete', factor_path(f), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
  <%= link_to "Add new factor", new_factor_path, :class => "btn btn-primary" %>
</div>