<div id="bg">


    <%= link_to step3_transferableskills_path do %>
    <div class="image-loader-7">
      Step 3: What transferable Skills Do You Most Enjot Using?
    </div>
    <% end %>

    <%= link_to step1_values_path do %>
    <div class="image-loader-1">
      Step 1: What Values Do You Want Your Life to Serve?
    </div>
    <% end %>

    <%= link_to step2_knowledge_expertise_path do %>
    <div class="image-loader-2">
      Step 2: What Knowledges or Expertise That You Already Have Do You Want to Use in Your Life and Work?
    </div>
    <% end %>

    <%= link_to step7_place_path do %>
    <div class="image-loader-3">
      <h4>Step 7: Where Would You Most Like to Live, If You Have a Choice?</h4>
    </div>
    <% end %>

    <%= link_to step4_people_path do %>
    <div class="image-loader-4">
      Step 4: What Kind of People Do You Most Enjoy Working with or Serving?
    </div>
    <% end %>

    <%= link_to step5_workingconditions_path do %>
    <div class="image-loader-5">
      Step 5: What Are Your Favorite Working Conditions?
    </div>
    <% end %>

    <%= link_to step6_salary_path do %>
    <div class="image-loader-6">
      Step 6: What Level Would You Like to Work at, and What Salary Would You Be Satisfied With?
    </div>
    <% end %>
 
</div>
